<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
<head>
	<title>Tourney App | Home</title>
</head>
<body>
	<h1>Tourney App</h1>
	<p>
		This is the home page for Tourney App
		<p>
			built using the:
			<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
			sample application.
		</p>
	</p>
</body>
</html>