<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Tourney App</a>
    by Casper
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>